/* ▼ WHERE YOUR CODE BEGINS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5e5e5;
}

button,
input,
textarea {
  font-family: "Lato", sans-serif;
}

.line-button {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  color: #151b26;
  width: 110px;
  height: 56px;
  padding: 18px 30px;
  cursor: pointer;
}

button {
  background-color: #fff;
  border: none;
}

.line-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0066ff;
  transition: width 250ms ease-in, background-color 250ms ease-in;
}

.line-button:hover::after {
  width: 100%;
  background-color: hotpink;
}
